.header {
    background: #F3F3FF;
    width: 100%;
    z-index: 0;
}

.footer {
    background-color: #F3F3FF;
    margin:0px auto;
    padding: 10px 0px 0px 0px;
}

.hide {
    opacity: 0.5;
}

body {
    height: 100%;
}

html {
    height: 100%;
    overflow: auto;
}

textarea {
    border-radius: 50%;
}

h2 {
    margin: 20px;
}

h5 {
    color: grey;
}

h6 {
    color: grey;
}

.container {
    margin: 20px;
}

.active {
    color: grey;
}

.gradient-custom {
    background: #fccb90;
    background: -webkit-linear-gradient(to bottom, rgba(0, 14, 141, 0.2), rgba(238, 11, 1, 0.2));
    background: linear-gradient(to bottom, rgba(0, 14, 141, 0.2), rgba(238, 11, 1, 0.2))
}

.plane-custom {
    background: #F3F3FF;
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    z-index: 5;
    background-clip: padding-box;
}

.border-bottom {
    border-bottom: 2px solid #D9D9D9;
    margin: auto;
}

.card {
    border-radius: 50%;
}

.send-icon {
    display: flex;
}

input {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #F2F2F2;
}

.rounded-pill {
    border-radius: 10%;
}

.tab-content {
    padding-bottom: 40px;
}

.screen {
    height: 75vh;
    min-width: 350px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

@media (min-height: 860px)
{
    .screen {
        height: 700px;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 15px;
    /* top: 700px; */
    z-index: 999;
}

.screen::-webkit-scrollbar {
    width: 0;
}

.mesbox-position {
    position: inherit;
    margin-top: 100px;
    z-index: 5;
}

.rectangle {
    width: 30px;
    height: 30px;
    background: #9F7DE1;
    opacity: 40%;
    border-radius: 2px;
}

.sticky-top {
    padding-top: 0px;
}

.text-field__input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #bdbdbd;
}

.text-field__input::placeholder {
opacity: 0.7;
}

.text-field__input:focus {
color: #212529;
background-color: #fff;
outline: 0;
}

.btn-style {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #bdbdbd;
    background-color: #fff;
}

.btn-style:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
}